<div ng-controller="DrawerController">

  <super-navbar>
    <super-navbar-title>
      Options
    </super-navbar-title>
  </super-navbar>

  <div class="padding">

    <button class="button button-full button-positive" style="width:100%">
  My Details
</button>
<button class="button button-full button-positive" style="width:100%">
My Points
</button>
<button class="button button-full button-positive" style="width:100%">
Settings
</button>
    <button class="button button-full button-positive" ng-click="supersonic.ui.drawers.close()" style="width:100%">
      Close this menu
    </button>

  </div>

</div>
