
<!-- <script>
  document.addEventListener("touchmove", function(e){
    e.preventDefault();
  });
</script> -->

<!-- Add menu items to the below list  -->
<ul class="list">
  <!-- <li class="item" onclick="navigateTo('modules#homepage')">Home</li> -->
   <li class="item" onclick="navigateTo('modules#User_Details')">My Details</li>
   <li class="item" onclick="navigateTo('modules#User_Coffee_Expense')">History</li>
   <li class="item" onclick="navigateTo('steroids.initialView.show()')'">Sign out</li>
</ul>


<script>


function navigateTo(location)
{
  supersonic.ui.drawers.disable();
  supersonic.ui.layers.push(location);
}
</script>
