<div class="padding">

    <super-navbar>
       <super-navbar-button side="left" onclick="optionClick()">
             Settings
      </super-navbar-button>
      <super-navbar-title>
        Coffee Cheats
      </super-navbar-title>
    </super-navbar>
      
      <!-- The QR code appears here -->
     <div class="qrDisplayCode" id="qrcode" ng-controller="pointscanner_Controller"/>

    </div>
    <script src="../scripts/qrcode.js" type="text/javascript"></script>
      <script>
      
      function optionClick()
      {
        supersonic.ui.drawers.enable();
        supersonic.ui.drawers.open();
      }
      </script>