<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

<div class="padding">

  <super-navbar>
    <super-navbar-title>
      Coffee Cheats 
    </super-navbar-title>
  </super-navbar>

  <div class="mainImage">
    <img src="http://icons.iconarchive.com/icons/aha-soft/people/256/user-info-icon.png" alt="User Info Icon" width="150" height="150"/> 
  </div>

  <div class="userInformation">
    <label class="item item-input">
      <input type="text" placeholder="Name">
    </label>
    <label class="item item-input">
      <input type="text" placeholder="Email">
    </label>
    <label class="item item-input">
      <input required="" type="text" class="form-control" placeholder="Date of Birth" onfocus="(this.type='date')"/>
    </label>

     <!-- Bind to the userdetails controller to display the list of baristas  -->
     
     <div ng-controller="UserDetailsController" class="item item-input">    
     <label for="favBarista">Favourite Barista :</label>  
      <div class ="dropDownSpacingFormat">
      <select ng-model="selectedBarista" ng-options="iter for iter in baristaList" class="btn btn-info dropdown-toggle"
      data-toggle="dropdown">
        <option value="" selected="selected">Favourite Barista</option>
      </select>
      </div>      
    </div>
    <div ng-controller="UserDetailsController" class="item item-input">            
     <label for="favBarista">Favourite Coffee :&nbsp;</label>  
      <div class ="dropDownSpacingFormat">
      <select ng-model="coffeelist" ng-options="iter for iter in coffeeList" class="btn btn-info dropdown-toggle"
      data-toggle="dropdown">
        <option value="" selected="selected">Favourite Coffee</option>
      </select>
      </div>
      </div>
  </div>
<div class="saveDetailsButton">
<button class="btn btn-primary">
 Save Details
</button>
</div>
<div>
</div>

