

<div class="padding">

	<super-navbar>
	
		<super-navbar-title>
  			Coffee Cheats 
		</super-navbar-title>
	</super-navbar>

	<div class="mainImage">
		<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Coffee_cup_icon.svg/576px-Coffee_cup_icon.svg.png" alt="Coffee Cup" width="200" height="200" 
		class="mainImage">
	</div>

	<div class="center">
		<p class="informationParagraph">This week you have spent $70 on Coffee</p>
	</div>
	<!-- bind the controller and use function viewexpenses in the controller -->
	<div ng-controller="User_Coffee_ExpenseController">
		<!-- Create table to display the expenses  -->
		<table id="paymentHistory">
  			<tr>
    			<th>Date</th>
    			<th>Item</th>
    			<th>Expense</th>
  			</tr>
				
			<!-- get the list and display  -->
			<tr ng-repeat="x in expenses">			
    			<td><span ng-bind="x.date"></td>
    			<td><span ng-bind="x.item"></td>
   				<td><span ng-bind="x.expense"></td>
  			</tr>
					
		</table>
	</div>

</div>